*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;}

main {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

.header{
    
        display: flex;
        justify-content: flex-end;
        padding: 6px;
        height: 60px;
        flex-shrink: 0;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding-right: 2rem;
    background-color: re;
}


.gmail{
    
    display: flex;
    align-items: center;
    font-family: arial,sans-serif;
    line-height: normal;
    padding-right: 15px; 
    gap:1.2rem;
}

.mail , .mages{
    cursor: pointer;
}


.bar{
    cursor: pointer;
    border-radius: 50%;
    padding: 0.48rem  0.6rem;
    align-items: center;
    color: #1a0dab;
    cursor: pointer;
}

.bar:hover{
    background-color: rgba(60,64,67,.08);
}



.id{
    cursor: pointer;
    background-color: rgb(214, 53, 53);
    border-radius: 50%;
    padding: 0.4rem 0.66rem;
    color: white;
    font-weight:bold;
    font-size:large;
   
}
.google{
    
    
    font-size: 5rem;
    max-height: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.form-div{
   
    display: flex;
    z-index: 3;
    position: relative;
    height: 50px;
    background: #fff;
    border: 1px solid #dfe1e5;
    align-items: center;
    box-shadow: none;
    border-radius: 24px;
    margin: -0.4em auto 0 auto;
    width: 638px;
}


.form-div:hover{
   box-shadow: 0px 2px 4px 0px rgba(32, 33, 36, 0.5); 
    cursor: pointer;
    height: 52px;
    width: 650px;
    align-items: center;
    
}
.form-div .searcho{
        color: rgb(32, 33, 36);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 0%;
        flex-grow :1;
        flex-shrink: 1;
        font-family: arial, sans-serif;
        font-size: 14px;
        height: 41px;
        padding:5px  1.2em;
        width: 560px
    }

.searcho div{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.searcho svg{
    cursor: pointer;
    font-weight: bolder;
}

.searcho input[type = search]{
    height: 40px;
    border: none;
    width: 90%;
    margin-left: 10px;
    
}


.searcho input[type = search]:focus{
   outline-color: transparent;
   border: none;
}

input::placeholder {
    padding-left: -1em;
   
    
  }
  

.google img{
    cursor: pointer;
}

.search_click{
    text-align: center;
}

.search_click button{   
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: arial,sans-serif;
        font-size: 1.2rem;
        margin: 11px 4px;
        padding: 0 16px;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;
        user-select: none;
    }

.language{
    color: #4d5156;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem auto;
}

.language a{
    cursor: pointer;
    text-decoration: none;
}

.language a:hover, .mail:hover, .mages:hover {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

footer{

background-color: rgb(242, 242, 242);
color: rgb(32, 33, 36);
display :block;
flex-shrink: 0;
font-family :arial, sans-serif;
font-size :14px;
height :94px;
width: 100%;
bottom: 0;
position: absolute;
}

.country{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #202124;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links{
        color: rgb(32, 33, 36);
        display: flex;
        flex-wrap: wrap;
        font-family: arial, sans-serif;
        font-size: 14px;
        height: 46px;
        justify-content: space-between;
        margin: 0 2.4em;
    }

.links .left{
        color : rgb(32, 33, 36);
        display: flex;
        gap: 3em;
        flex-wrap: wrap;
        font-family : arial, sans-serif;
        font-size : 14px;
        height : 46px;
        justify-content  : space-between;
        align-items: center;
        /* width : 399.375px; */

       
}

.links .right{
    justify-self: flex-end;
    color :rgb(32, 33, 36);
    display: flex;
    gap: 2em;
    align-self: flex-end;
    flex-wrap: wrap;
    font-family :arial, sans-serif;
    font-size: 14px;
    height : 46px;
    justify-content: space-between;
    align-items: center;
}

.links section a{
    color :rgb(32, 33, 36);
    cursor: pointer;
    display: block;
    font-family: arial, sans-serif;
    font-size: 14px;
    height :16px;
    text-decoration: none;
    text-decoration-thickness: auto;
    text-wrap: nowrap;
    white-space-collapse: collapse;
    width :36.5938px;
    }

.links section a:hover{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}